@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Imperial+Script&family=Inter&display=swap');

:root {
    --dark: #0D1330;
    --primary: #576CA8;
    --secondary: #9DC7C8;
    --light: #e4dfdaff;
    --tertiary: #fe5f55ff;
    --tertiary-lighter: #fe5f5566;
    --width: 80%;

    --main-font: "Inter", sans-serif;
    --title-font: "Comfortaa", sans-serif;
}

* {box-sizing: border-box}
body {
    background-color: var(--dark);
    color: var(--light);
    font-family: var(--main-font);
}

h1, h2, h3, a, button, label {
    font-family: var(--title-font);
}

h2 {
    color: var(--secondary);
}

.centered {
    width: var(--width);
    margin-right: auto;
    margin-left: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.img-container {
    border-radius: 8px;
    overflow: hidden;
    aspect-ratio: 16/9;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
